#carouselExampleControls.carousel.slide(data-bs-ride='carousel')
  .carousel-inner
    .overlay
      h1 Share your momment
      button 
        a(href="#") See more
    .carousel-item.active
      img.d-block.w-100(src=data[0].urls.regular, alt='...',style='max-height:650px; background:cover;width:100%; object-fit:cover')
    .carousel-item
      img.d-block.w-100(src=data[3].urls.regular, alt='...',style='max-height:650px; background:cover;width:100%; object-fit:cover')
    .carousel-item
      img.d-block.w-100(src=data[2].urls.regular, alt='...',style='max-height:650px;background:cover;width:100%; object-fit:cover')
  button.carousel-control-prev(type='button', data-bs-target='#carouselExampleControls', data-bs-slide='prev')
    span.carousel-control-prev-icon(aria-hidden='true')
    span.visually-hidden Previous
  button.carousel-control-next(type='button', data-bs-target='#carouselExampleControls', data-bs-slide='next')
    span.carousel-control-next-icon(aria-hidden='true')
    span.visually-hidden Next
