@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

html[data-theme='dark'] {
    --bg-top-desktop-img: url('./images/bg-desktop-dark.jpg');
    --bg-color: hsl(235, 21%, 11%);
    --bg-todo-line-color: hsl(235, 24%, 19%);
    --btn-bg-img: url('./images/icon-sun.svg');
    --text-color: white;
    --btn-text-color: hsl(234, 11%, 52%);
    --btn-active-text-color: rgb(16, 127, 253);
    --todo-block-border-bottom: 0.5px solid rgba(218, 218, 218, 0.157);
    --check-bg-color: radial-gradient(
        circle,
        rgba(63, 94, 251, 1) 0%,
        rgba(252, 70, 107, 1) 100%
    );
}
html[data-theme='light'] {
    --bg-top-desktop-img: url('./images/bg-desktop-light.jpg');
    --bg-color: hsl(236, 33%, 92%);
    --bg-todo-line-color: hsl(0, 0%, 98%);
    --btn-bg-img: url('./images/icon-moon.svg');
    --text-color: rgba(0, 0, 0, 0.698);
    --btn-text-color: hsl(234, 11%, 52%);
    --btn-active-text-color: rgb(16, 127, 253);
    --todo-block-border-bottom: 0.5px solid rgba(82, 78, 78, 0.103);
    --check-bg-color: radial-gradient(
        circle,
        rgba(63, 94, 251, 1) 0%,
        rgba(252, 70, 107, 1) 100%
    );
    --check-icon-img: url('./images/icon-check.svg');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

html {
    height: 100vh;
}
body {
    background-image: var(--bg-top-desktop-img);
    background-size: 100% 350px;
    background-repeat: no-repeat;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: display 0.5s ease-in-out;
}

header {
    width: 100%;
    height: fit-content;
    margin: 80px 0 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .header-content {
        display: flex;
        justify-content: space-between;
        width: 85%;
        max-width: 600px;
        flex-wrap: wrap;
        .header-name {
            text-transform: uppercase;
            font-size: 30px;
            letter-spacing: 10px;
            font-weight: bold;
            color: white;
        }

        button {
            width: 30px;
            height: 30px;
            border: none;
            background: var(--btn-bg-img);
            background-repeat: no-repeat;
            cursor: pointer;
        }
        input {
            width: 100%;
            background-color: var(--bg-todo-line-color);
            border: none;
            padding: 20px 20px;
            margin-top: 2em;
            border-radius: 10px;
            color: var(--text-color);
        }

        input:focus {
            outline: none;
        }
    }
}

main {
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    margin-top: 0;
    width: 85%;
    max-width: 600px;
    .todo-block {
        background-color: var(--bg-todo-line-color);
        width: 100%;
        display: flex;
        padding: 15px 10px;
        overflow: hidden;
    }
    .todo-list {
        margin: 0;
        width: 100%;
        max-width: 600px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .todo-block {
            background-color: var(--bg-todo-line-color);
            width: 100%;
            display: flex;
            padding: 15px 10px;
            overflow: hidden;
        }
        .tasks-empty {
            display: none;
            padding: 25px 20px;
            text-align: center;
        }
        .todo-container {
            background-color: var(--bg-todo-line-color);
            display: flex;
            flex-direction: column;
            gap: 5px;
            box-shadow: 1px 1px gray;
            .todo-block {
                background-color: var(--bg-todo-line-color);
                width: 100%;
                display: flex;
                padding: 15px 10px;
                border-bottom: var(--todo-block-border-bottom);
                position: relative;
                line-height: 24px;
                .delete-btn {
                    background: url('./images/icon-cross.svg') no-repeat;
                    width: 20px;
                    height: 20px;
                    display: inline;
                    cursor: pointer;
                }
            }
            .completed {
                text-decoration: line-through;
                opacity: 0.7;
            }
            .todo-line {
                display: flex;
                align-items: center;
                position: relative;
                p {
                    margin-left: 15px;
                    text-align: left;
                }
                button {
                    position: absolute;
                    right: 10px;
                    border: none;
                }
                .check-complete {
                    appearance: none;
                    -webkit-appearance: none;
                    -ms-appearance: none;
                    -o-appearance: none;
                    -moz-appearance: none;
                    margin-right: 2rem;
                }
                .check-complete::before {
                    background: var(--check-icon-img);
                    background-color: var(--check-bg-color);
                    z-index: 2;
                    background-size: cover;
                    background-position: center;
                    content: '';
                    display: inline-block;
                    border-radius: 50%;
                    outline: none;
                    cursor: pointer;
                    height: 20px;
                    width: 20px;
                    border: 1px solid gray;
                    position: absolute;
                    top: 15px;
                    left: 15px;
                }

                .check-complete::after {
                    content: '';
                    display: inline-block;
                    // background: var(--check-icon-img);
                    // background: var(--check-bg-color);
                    border-radius: 50%;
                    outline: none;
                    cursor: pointer;
                    height: 20px;
                    width: 20px;
                    border: none;
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    border: 1px solid gray;
                }
            }
        }
    }
    .todo-option {
        border-radius: 0 0 10px 10px;
    }
    .desktop-panel {
        display: none;
        font-weight: 200;
        .todo-option {
            display: flex;
            justify-content: space-between;
            color: var(--btn-text-color);
            padding: 20px 20px;
            button {
                background: transparent;
                border: none;
                color: var(--btn-text-color);
            }
            .active {
                color: var(--btn-active-text-color);
            }
        }
    }

    .mobile-panel {
        display: none;
        .todo-option {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: var(--btn-text-color);
            .todos-status {
                display: flex;
                justify-content: space-between;
                border-radius: 0 0 10px 10px;
            }
            .status-container {
                margin-top: 2rem;
                display: flex;
                justify-content: center;
                gap: 20px;
                border-radius: 10px;
                button {
                    background: transparent;
                    border: none;
                    color: var(--btn-text-color);
                }
            }
        }
    }

    .instruction {
        text-align: center;
        color: var(--btn-text-color);
        margin: 75px auto;
    }
}

.attribution {
    position: absolute;
    bottom: 0;
    font-size: 0.5em;
}
