@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
html[data-theme='dark'] {
  --bg-top-desktop-img: url('./images/bg-desktop-dark.jpg');
  --bg-color: hsl(235, 21%, 11%);
  --bg-todo-line-color: hsl(235, 24%, 19%);
  --btn-bg-img: url('./images/icon-sun.svg');
  --text-color: white;
  --btn-text-color: hsl(234, 11%, 52%);
  --btn-active-text-color: rgb(16, 127, 253);
  --todo-block-border-bottom: 0.5px solid rgba(218, 218, 218, 0.157);
  --check-bg-color: radial-gradient(
        circle,
        rgba(63, 94, 251, 1) 0%,
        rgba(252, 70, 107, 1) 100%
    );
}

html[data-theme='light'] {
  --bg-top-desktop-img: url('./images/bg-desktop-light.jpg');
  --bg-color: hsl(236, 33%, 92%);
  --bg-todo-line-color: hsl(0, 0%, 98%);
  --btn-bg-img: url('./images/icon-moon.svg');
  --text-color: rgba(0, 0, 0, 0.698);
  --btn-text-color: hsl(234, 11%, 52%);
  --btn-active-text-color: rgb(16, 127, 253);
  --todo-block-border-bottom: 0.5px solid rgba(82, 78, 78, 0.103);
  --check-bg-color: radial-gradient(
        circle,
        rgba(63, 94, 251, 1) 0%,
        rgba(252, 70, 107, 1) 100%
    );
  --check-icon-img: url('./images/icon-check.svg');
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

html {
  height: 100vh;
}

body {
  background-image: var(--bg-top-desktop-img);
  background-size: 100% 350px;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: display 0.5s ease-in-out;
  transition: display 0.5s ease-in-out;
}

header {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 80px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  max-width: 600px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .header-content .header-name {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 10px;
  font-weight: bold;
  color: white;
}

header .header-content button {
  width: 30px;
  height: 30px;
  border: none;
  background: var(--btn-bg-img);
  background-repeat: no-repeat;
  cursor: pointer;
}

header .header-content input {
  width: 100%;
  background-color: var(--bg-todo-line-color);
  border: none;
  padding: 20px 20px;
  margin-top: 2em;
  border-radius: 10px;
  color: var(--text-color);
}

header .header-content input:focus {
  outline: none;
}

main {
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  margin-top: 0;
  width: 85%;
  max-width: 600px;
}

main .todo-block {
  background-color: var(--bg-todo-line-color);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 10px;
  overflow: hidden;
}

main .todo-list {
  margin: 0;
  width: 100%;
  max-width: 600px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

main .todo-list .todo-block {
  background-color: var(--bg-todo-line-color);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 10px;
  overflow: hidden;
}

main .todo-list .tasks-empty {
  display: none;
  padding: 25px 20px;
  text-align: center;
}

main .todo-list .todo-container {
  background-color: var(--bg-todo-line-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -webkit-box-shadow: 1px 1px gray;
          box-shadow: 1px 1px gray;
}

main .todo-list .todo-container .todo-block {
  background-color: var(--bg-todo-line-color);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 10px;
  border-bottom: var(--todo-block-border-bottom);
  position: relative;
  line-height: 24px;
}

main .todo-list .todo-container .todo-block .delete-btn {
  background: url("./images/icon-cross.svg") no-repeat;
  width: 20px;
  height: 20px;
  display: inline;
  cursor: pointer;
}

main .todo-list .todo-container .completed {
  text-decoration: line-through;
  opacity: 0.7;
}

main .todo-list .todo-container .todo-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main .todo-list .todo-container .todo-line p {
  margin-left: 15px;
  text-align: left;
}

main .todo-list .todo-container .todo-line button {
  position: absolute;
  right: 10px;
  border: none;
}

main .todo-list .todo-container .todo-line .check-complete {
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  margin-right: 2rem;
}

main .todo-list .todo-container .todo-line .check-complete::before {
  background: var(--check-icon-img);
  background-color: var(--check-bg-color);
  z-index: 2;
  background-size: cover;
  background-position: center;
  content: '';
  display: inline-block;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: 1px solid gray;
  position: absolute;
  top: 15px;
  left: 15px;
}

main .todo-list .todo-container .todo-line .check-complete::after {
  content: '';
  display: inline-block;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: none;
  position: absolute;
  top: 15px;
  left: 15px;
  border: 1px solid gray;
}

main .todo-option {
  border-radius: 0 0 10px 10px;
}

main .desktop-panel {
  display: none;
  font-weight: 200;
}

main .desktop-panel .todo-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--btn-text-color);
  padding: 20px 20px;
}

main .desktop-panel .todo-option button {
  background: transparent;
  border: none;
  color: var(--btn-text-color);
}

main .desktop-panel .todo-option .active {
  color: var(--btn-active-text-color);
}

main .mobile-panel {
  display: none;
}

main .mobile-panel .todo-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--btn-text-color);
}

main .mobile-panel .todo-option .todos-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

main .mobile-panel .todo-option .status-container {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  border-radius: 10px;
}

main .mobile-panel .todo-option .status-container button {
  background: transparent;
  border: none;
  color: var(--btn-text-color);
}

main .instruction {
  text-align: center;
  color: var(--btn-text-color);
  margin: 75px auto;
}

.attribution {
  position: absolute;
  bottom: 0;
  font-size: 0.5em;
}
/*# sourceMappingURL=style.css.map */