:root {
    --primary-pink: hsl(322, 100%, 66%);
    --primary-light-pink: hsl(321, 100%, 78%);
    --primary-light-red: hsl(0, 100%, 63%);
    --neutral-very-dark-cyan: hsl(192, 100%, 9%);
    --neutral-very-pale-blue: hsl(207, 100%, 98%);
}

body {
    .concept-section:nth-child(2n) {
        padding: 3em 2em;
        .grow-section {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            img {
                width: 50%;
                height: 50%;
            }
            .grow-section_content {
                padding-left: 46px;
                padding-right: 0px;
            }
        }
    }
    .concept-section:nth-child(2n + 1) {
        img {
            height: auto;
            width: 100%;
            display: block;
        }
        .concept-content {
            height: 100%;
            background-color: var(--neutral-very-pale-blue);
            width: 100%;
            .grow-section {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 3em 2em;
                .grow-section_content {
                    padding-right: 46px;
                    padding-left: 0px;
                }
                img {
                    width: 50%;
                    height: 50%;
                }
            }
        }
    }
    .footer {
        background-color: black;
    }
}
