body {
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

/* ul {
  padding-left: 24px;
}

li {
  margin-bottom: 8px;
}

.welcome {
  max-width: 800px;
  margin: 0 auto;
}

.welcome-text {
  margin-top: 30vh;
  font-weight: 500;
}

.welcome-text p {
  font-size: 1rem;
  font-weight: 400;
}

.welcome-text h1 {
  font-size: 1.5rem;
}

.welcome-text a {
  color: #f7542e;
} */

.container {
  height: auto;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

/* page title part */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1140px;
  padding: 3rem 3rem;
}
header .page-title {
  font-family: PT Serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: -0.045em;
  text-align: left;
}

.team-bio {
  flex-basis: 40%;
  display: block;
}

.pt1 {
  grid-area: pt1;
}
.pt2 {
  grid-area: pt2;
}
.pt3 {
  grid-area: pt3;
}
.pt4 {
  grid-area: pt4;
}
.pt5 {
  grid-area: pt5;
}
.pt6 {
  grid-area: pt6;
}

@media (max-width: 1024px) {
}
.members-show {
  height: auto;
  padding: 10px 10px;
  margin-bottom: 10rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  column-gap: 40px;
  grid-template-areas:
    'pt1 pt3 pt2'
    'pt4 pt6 pt5';
}
section {
  margin: 15px 15px;
  padding: 10px 10px;
}
section .member-info-container {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.member-info-container img {
  box-shadow: 6px 6px 9px #80808099;
  border-radius: 5px;
  height: auto;
  width: 100%;
}

.member-info {
  display: flex;
  flex-direction: row;
}

.member-name {
  font-size: 0.5em;
  font-weight: 100;
}

.member-charge {
  writing-mode: vertical-rl;
  font-weight: 100;
  margin: 0;
  font-size: 0.3rem;
}
@media (min-width: 600px) {
  .member-info-container:nth-of-type(3n) {
    position: relative;
    top: 100px;
  }
}

footer {
  position: relative;
  top: 0;
}

footer a {
  text-decoration: none;
  color: rgb(2, 108, 247);
}

@media (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
  }
  .members-show {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'pt1 pt2'
      'pt3 pt4'
      'pt5 pt6';
    column-gap: 20px;
  }

  .member-info-container:nth-of-type(2n) {
    position: relative;
    top: 50px;
  }
}
